---
sitemap: false
---

/*
 *
 *  Minimal Mistakes
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/
/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px;}

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }


#toc{
  float: none;
  width: 50%;
  background: #eee;
  font-size: 10px;
  padding: 1em 2em;
  margin: 0 0 0.5em 0.5em;
  background:#fff;
  border:0;
  outline:0;
  box-shadow:0 12px 24px rgba(0,0,0,0.35);
}
#toc ul{padding: 0;}
#toc a{text-decoration: none;}
#toc a:hover
#toc a:active {
  text-decoration: underline;
}


// Partials
@import "variables";
@import "grid";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "page";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
//@import "vendor/google/fonts";